@model IEnumerable<Engefibra.Data.Models.UsuarioPerfil>

@{
    ViewBag.Title = "Vinculo de Usuário x Perfis";
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/bootstrap-table.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table-filter.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table-locale-all.js"></script>
}

<h2>Perfis de usuário</h2>
<p>Atribua permissões para os usuários do sistema nesta ferramenta.</p>

<p>
    @Html.ActionLink("Novo registro", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-bordered table-striped table-responsive" data-toggle="table" data-show-columns="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-pagination="true" data-show-filter="true">
    <thead>
        <tr>
            <th data-field="perfil" data-sortable="true">
                Perfil atribuido
            </th>
            <th data-field="nome" data-sortable="true">
                Usuário
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Perfil.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Pessoa.Nome)
                </td>
                <td>
                    @Html.ActionLink("Remover", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
