@model Engefibra.Web.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Dashboard";
}

<h1>Ops, ocorreu um problema.</h1>

<p>Você não possui permissão para acessar a página que você solicitou. Por favor, contate o administrador do sistema caso realmente precise da funcionalidade.</p>

<a href="~/" class="btn btn-primary">
    Voltar para página inicial
</a>